.content {
  width: 60%;
  margin: 0 auto;
}
h2 {
    color: #212121;
}
h2 a {
    color: #212121;
    text-decoration: none;
}
.feed-head {
    text-transform: uppercase;
    text-align: center;
    border-bottom: 3px solid gray;
}
.feed-title {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 55px;
}
.feed-error {
    text-transform: uppercase;
    text-align: center;
}
.post {
    border: 1px solid gray;
    padding: 5px;
    border-radius: 3px;
    margin-top: 15px;
}
.post-head-title {
    text-transform: uppercase;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #ff7a00;

}
.post-head span {
    font-size: 14px;
    color: gray;
    letter-spacing: 1px;
}
.post-content {
    font-size: 18px;
    color: black;
}
/* media query */
@media (max-width: 880px) {
    .content{
        width: 99%;
    }
}
