<?php
/**
 * Netz Feed Block Rss feed template.
 *
 * @category  Netz
 * @package   Netz\Feed
 * @author    Dmitry Mosaniuk
 * @copyright 2019 Dmitry Mosaniuk Test
 */

/** @var $block \Netz\Feed\Block\Netz\Feed */
?>
<?php if ($feed = $block->getFeedData()) : ?>
    <div class="netz-feed-content">
        <div class="feed-head">
            <h1 class="feed-title">
                <a href="<?php echo $feed->link; ?>"><?php echo $feed->title; ?></a>
            </h1>
            <p><h3><?php echo $feed->description; ?></h3></p>
        </div>
        <?php $i = 0; ?>
            <?php foreach ($feed->item as $item) : ?>
                <?php if ($i >= $block->getFeedQty()) break; ?>
                    <div class="post">
                        <div class="post-head">
                            <h2><a class="post-head-title" href="<?php echo $item->link; ?>"><?php echo $item->title; ?></a></h2>
                            <span><?php echo $block->getFormatedDate($item->pubDate); ?></span>
                        </div>
                        <div class="post-content">
                            <?php echo $block->getShortPostDescription($item->description); ?>
                            <a href="<?php echo $item->link; ?>"><?php echo __('Read more'); ?></a>
                        </div>
                    </div>
                <?php $i++; ?>
        <?php endforeach; ?>
    </div>
<?php else : ?>
    <div class="feed-error">
        <h1><?php echo __('No News Found'); ?></h1>
    </div>
<?php endif; ?>
